{% extends "base.html" %}

{% block content %}

<nav id="non-homepage-nav" class="hide-on-med-and-up #b71c1c red darken-4">
    <div class="nav-wrapper" id="nav-wrapper1">
        <ul id="ul1" class="center">
            <li><img id="list-img" src="static/images/UMRLogoWhite.png" alt=""></li>
        </ul>
        <a href="#" id="menu-button" class="sidenav-trigger hide-on-med-and-up" data-target="mobile-demo">
            <i class="material-icons">menu</i>
        </a>
    </div>
</nav>

<nav id="non-homepage-nav" class="hide-on-small-only #b71c1c red darken-4">
    <div class="nav-wrapper" id="nav-wrapper1">
        <ul id="ul1" class="center hide-on-small-and-down">
            <li><a id="nav-element" href="/">HOME</a></li>
            <li><a id="nav-element" href="/MeetTheTeam">MEET THE TEAM</a></li>
            <li class="hide-on-med-and-down"><img id="list-img" src="static/images/UMRLogoWhite.png" alt=""></li>
            <li><a id="nav-element" href="/Competition">LUNABOTICS</a></li>
            <li><a id="nav-element" href="/ContactUs">CONTACT</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="/">Home</a></li>
    <li><a href="/MeetTheTeam">Meet the Team</a></li>
    <li><a href="/Competition">Lunabotics</a></li>
    <li><a href="/ContactUs">Contact</a></li>
</ul>

<div id="container2"> 
    <h2 id="contact-header">Contact</h2>
    <form id="myForm" class="gform pure-form pure-form-stacked" method="POST" data-email="example@email.net"
    action="https://script.google.com/macros/s/AKfycbwIpWQyERh3U_PaRLxqhwnyeu0E0etZhi-IqZ5P/exec">
      <!-- change the form action to your script url -->
  
      <div class="form-elements" class="container">
          <div class="row">
              <div class="input-field col s6">
                  <input id="first_name3" name="first_name" type="text" class="validate" required>
                  <label for="first_name3">First Name</label>
              </div>
              <div class="input-field col s6">
                  <input id="last_name3" name="last_name" type="text" class="validate" required>
                  <label for="last_name3">Last Name</label>
              </div>
          </div>
  
          <div class="row">
              <div class="input-field col s12">
                  <input id="email3" name="email" type="email" class="validate" required>
                  <label for="email3">Email</label>
              </div>
          </div>
  
          <div class="row">
              <div class="input-field col s12">
              <input id="subject3" name="subject" type="text" class="validate" required>
              <label for="subject3">Subject</label>
              </div>
          </div>
  
          <div class="row">
              <div class="input-field col s12">
                  <i class="material-icons prefix">mode_edit</i>
                  <textarea id="message3" name="message" class="materialize-textarea" required></textarea>
                  <label for="message3">Message</label>
              </div>
          </div>
  
          <button id="submit" class="waves-effect waves-light btn #b71c1c red darken-4">submit</button>
  
          <div id="form-bottom-spacing"></div>
      
      </div>
  
      <div id="thank-you" class="thankyou_message">
          <h4>Thanks for contacting us!
            We will get back to you soon!</h4>
      </div>
  
   </form>
</div>


  <!-- Submit the Form to Google Using "AJAX" -->
  <script data-cfasync="false" type="text/javascript"
  src="static/form-submission-handler.js"></script>

<div>
    <div id="bottom-color" class="#212121 grey darken-4">
        <div id="back-to-top" class="hide-on-med-and-up"><a href="#top" id="back-to-top-color">BACK TO TOP</a></div>
        <div id="follow-us" class="#9e9e9e grey-text">Follow us on social media!</div>
        <div id="logo-container" class="navbar"> 
            <nav id="logo-container-wrapper" class="nav-wrapper #212121 grey darken-4">
              <div id="logo-positioning" class="container">
                <a href="https://www.instagram.com/umassrobotics/" target="_blank"><img id="instagram-logo" src="static/images/IGLogo.png" alt=""></a>
                <a href="https://www.youtube.com/channel/UCpH514vygzjNv3PWWZNuKuA" target="_blank"><img id="youtube-logo" src="static/images/YTLogo.png" alt=""></a>
                <a href="https://github.com/UMass-Amherst-Robotics" target="_blank"><img id="github-logo" src="static/images/GithubLogo.png" alt=""></a>
              </div>
            </nav>
        </div>
    </div>
</div>

{% endblock %}