{% extends "base.html" %}

{% block content %}

<div class="navbar-fixed hide-on-med-and-up">
    <nav id="non-homepage-nav" class="#b71c1c red darken-4">
        <div class="nav-wrapper" id="nav-wrapper1">
            <ul id="ul1" class="center">
                <li><img id="list-img" src="static/images/UMRLogoWhite.png" alt=""></li>
            </ul>
            <a href="#" id="menu-button" class="sidenav-trigger hide-on-med-and-up" data-target="mobile-demo">
                <i class="material-icons">menu</i>
            </a>
        </div>
    </nav>
</div>

<nav id="non-homepage-nav" class="hide-on-small-only #b71c1c red darken-4">
    <div class="nav-wrapper" id="nav-wrapper1">
        <ul id="ul1" class="center hide-on-small-and-down">
            <li><a id="nav-element" href="/">HOME</a></li>
            <li><a id="nav-element" href="/MeetTheTeam">MEET THE TEAM</a></li>
            <li class="hide-on-med-and-down"><img id="list-img" src="static/images/UMRLogoWhite.png" alt=""></li>
            <li><a id="nav-element" href="/Competition">LUNABOTICS</a></li>
            <li><a id="nav-element" href="/ContactUs">CONTACT</a></li>
        </ul>
        <a href="#" class="sidenav-trigger hide-on-med-and-up" data-target="mobile-demo">
            <i class="material-icons">menu</i>
        </a>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="/">Home</a></li>
    <li><a href="/MeetTheTeam">Meet the Team</a></li>
    <li><a href="/Competition">Lunabotics</a></li>
    <li><a href="/ContactUs">Contact</a></li>
</ul>

<div id="container3">

    <h2>Executive Board</h2>

    <div id="non-right-card" class="card">
        <div class="card-image">
            <img src="static/images/SamPicture.png" alt="">
        </div>
        <div class="card-content">
            <span class="card-title">Sam DuBois</span>
            <p><b>President</b></p>
            <p>&nbsp</p>
            <p><b>Major:</b> Computer Engineering & Computer Science</p>
            <p><b>What I Work On:</b> Administration, electronics, programming</p>
            <p><b>Hobbies:</b> Rock climbing, machining</p>
            <p><b>Favorite Dining Hall:</b> Berk (Hamp for breakfast)</p>
        </div>
    </div>

    <div id="non-right-card" class="card">
        <div class="card-image">
            <img src="static/images/SeanFlanPicture.png" alt="">
        </div>
        <div class="card-content">
        <span class="card-title">Sean Flanagan</span>
            <p><b>Vice President</b></p>
            <p>&nbsp</p>
            <p><b>Major:</b> Mechanical Engineering</p>
            <p><b>What I Work On:</b> Mechanical design, analysis</p>
            <p><b>Hobbies:</b> Spikeball, volleyball, table tennis</p>
            <p><b>Favorite Dining Hall:</b> Hamp</p>
        </div>
    </div>

    <div id="right-card" class="card">
        <div class="card-image">
            <img src="static/images/DomPicture.png" alt="">
        </div>
        <div class="card-content">
        <span class="card-title">Dom Locurto</span>
            <p><b>Treasurer</b></p>
            <p>&nbsp</p>
            <p><b>Major:</b> Mechanical Engineering</p>
            <p><b>What I Work On:</b> Mechanical design, hardware</p>
            <p><b>Hobbies:</b> Ultimate frisbee, cooking, gaming</p>
            <p><b>Favorite Dining Hall:</b> Hamp</p>
        </div>
    </div>

    <div id="non-right-card" class="card">
        <div class="card-image">
            <img src="static/images/AlexPicture.png" alt="">
        </div>
        <div class="card-content">
            <span class="card-title">Alex Klinkhamer</span>
            <p><b>Secretary</b></p>
            <p>&nbsp</p>
            <p><b>Major:</b> Mechanical Engineering</p>
            <p><b>What I Work On:</b> Administration, mechanical design, hardware</p>
            <p><b>Hobbies:</b> 3D printing, designing, CAD, running, rockets</p>
            <p><b>Favorite Dining Hall:</b> Worcester</p>
        </div>
    </div>

    <div id="last-exec-card" class="card">
        <div class="card-image">
            <img src="static/images/JagathPicture.png" alt="">
        </div>
        <div class="card-content">
            <span class="card-title">Jagath Jai Kumar</span>
            <p><b>UMass Robotics Advisor</b></p>
            <p>&nbsp</p>
            <p><b>Position At UMass:</b> Cyber Forensics Research Fellow</p>
            <p><b>Favorite Dining Hall:</b> Berk</p>
        </div>
    </div>

    <div id="divider"></div>

    <h2>Team Members</h2>

    <div id="non-right-card" class="card">
        <div class="card-image">
            <img src="static/images/MikePicture.png" alt="">
        </div>
        <div class="card-content">
            <span class="card-title">Mike Brauninger</span>
            <p><b>Major:</b> Computer Engineering</p>
            <p><b>What I Work On:</b> Electronics, programming, website design</p>
            <p><b>Hobbies:</b> Frisbee, guitar, web development</p>
            <p><b>Favorite Dining Hall:</b> Berk</p>
        </div>
    </div>

    <div id="non-right-card" class="card">
        <div class="card-image">
            <img src="static/images/AndrewPicture.png" alt="">
        </div>
        <div class="card-content">
        <span class="card-title">Andrew Tran</span>
            <p><b>Major:</b> Computer Engineering</p>
            <p><b>What I Work On:</b> Electronics, programming</p>
            <p><b>Hobbies:</b> Cooking, personal coding projects</p>
            <p><b>Favorite Dining Halls:</b> Berk, Worcester</p>
        </div>
    </div>

    <div id="right-card" class="card">
        <div class="card-image">
            <img src="static/images/AidanPicture.png" alt="">
        </div>
        <div class="card-content">
        <span class="card-title">Aidan Downey</span>
            <p><b>Major:</b> Mechanical Engineering</p>
            <p><b>What I Work On:</b> Mechanical design, hardware</p>
            <p><b>Hobbies:</b> Sailing, guitar, gain time</p>
            <p><b>Favorite Dining Hall:</b> Berk</p>
        </div>
    </div>

    <div id="non-right-card" class="card">
        <div class="card-image">
            <img src="static/images/KylePicture.png" alt="">
        </div>
        <div class="card-content">
        <span class="card-title">Kyle O'Connell</span>
            <p><b>Major:</b> Mechanical Engineering</p>
            <p><b>What I Work On:</b> Mechanical design, hardware</p>
            <p><b>Hobbies:</b> Frisbee, music</p>
            <p><b>Favorite Dining Hall:</b> Hamp</p>
        </div>
    </div>

    <div id="non-right-card" class="card">
        <div class="card-image">
            <img src="static/images/AnnaPicture.png" alt="">
        </div>
        <div class="card-content">
        <span class="card-title">Anna St. George</span>
            <p><b>Major:</b> Psychology (Neuroscience)</p>
            <p><b>What I Work On:</b> Front-end design, programming</p>
            <p><b>Hobbies:</b> Frisbee</p>
            <p><b>Favorite Dining Hall:</b> Hamp</p>
        </div>
    </div>
    
    <div id="final-card" class="card">
        <div class="card-image">
            <img src="static/images/GutiPic.png" alt="">
        </div>
        <div class="card-content">
        <span class="card-title">Andy Gutierrez</span>
            <p><b>Major:</b> Computer Engineering</p>
            <p><b>What I Work On:</b> Electronics, programming</p>
            <p><b>Hobbies:</b> Piano, guitar, squash</p>
            <p><b>Favorite Dining Hall:</b> Berk</p>
        </div>
    </div>

</div>

<div>
    <div id="bottom-color" class="#212121 grey darken-4">
        <div id="back-to-top" class="hide-on-med-and-up"><a href="#top" id="back-to-top-color">BACK TO TOP</a></div>
        <div id="follow-us" class="#9e9e9e grey-text">Follow us on social media!</div>
        <div id="logo-container" class="navbar"> 
            <nav id="logo-container-wrapper" class="nav-wrapper #212121 grey darken-4">
              <div id="logo-positioning" class="container">
                <a href="https://www.instagram.com/umassrobotics/" target="_blank"><img id="instagram-logo" src="static/images/IGLogo.png" alt=""></a>
                <a href="https://www.youtube.com/channel/UCpH514vygzjNv3PWWZNuKuA" target="_blank"><img id="youtube-logo" src="static/images/YTLogo.png" alt=""></a>
                <a href="https://github.com/UMass-Amherst-Robotics" target="_blank"><img id="github-logo" src="static/images/GithubLogo.png" alt=""></a>
              </div>
            </nav>
        </div>
    </div>
</div>





{% endblock %}